html {
	body {
		margin: 320px;
		opacity: .4;
		font-size: responsive;
		display: flex;
	}
	button {
		padding: 100px;
	}
	.logo {
		height: 60px;
		width: 200px;
		background-size: cover;
		background-image: url(./tooling-logo.png);
	}
}
