doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title= htmlWebpackPlugin.options.title
    if htmlWebpackPlugin.files.favicon
      link(rel="shortcut icon" href=htmlWebpackPlugin.files.favicon)
    each css in htmlWebpackPlugin.files.css
      link(rel="stylesheet" href=css)
  body
    app
    each js in htmlWebpackPlugin.files.js
      script(src=js)
